$dimension: 25vw;
$smallerDimension: 15vw;

.board {
    margin: 60px auto;
    width: $dimension;
    height: $dimension;
    display: grid;
    grid-template-columns: 1fr 0.05fr 1fr 0.05fr 1fr;
    grid-template-rows: 1fr 0.05fr 1fr 0.05fr 1fr;
    grid-gap: 0;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    user-select: none;
    transition: all .5s ease-in-out;
    background-color: #fafafa;
}

.board {
    .delimiter {
        background-color: lightgrey;
        width: 100%;
        height: 100%; 
    }

    .square {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 40px;
        cursor: pointer;
    }
}

.smaller {
    width: $smallerDimension;
    height: $smallerDimension;
}